<form {{action "search" on="submit"}}>
<div class="row">
  <div class="col-md-9">{{view Ember.TextField valueBinding="queryField" class="form-control" placeholder="Search by Tag"}}</div>
  <div class="col-md-1">{{input type="submit" value="Search" class="btn btn-primary"}}</div>
  <div class="col-md-2">{{input type="checkbox" checked=auth_me name="auth"}} Do user authentication</div>
</div>
</form>
